.document {
  background-color: var(--white);
  border: 1px solid #c7c7c7;
  margin: 15px auto;
  max-width: calc(100vw - 32px);
  min-height: 90vh;
  position: relative;
}

.container {
  height: calc(100vh - 60px);
  position: fixed;
  width: 100%;
  top: 60px;
  overflow: scroll;
}

@media only screen and (min-width: 768px) {
  .document {
    margin: 20px auto;
    max-width: 680px;
    padding: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .document {
    max-width: 80vw;
    margin: 30px auto;
  }
}

@media only screen and (min-width: 1200px) {
  .document {
    max-width: 50vw;
  }
}

@media only screen and (min-width: 2400px) {
  .document {
    max-width: 1200px;
  }
}
